{% extends 'customers/base.html' %}

{% load static %}

{% block title %} Удаление рассылки {% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/mailing_list.css' %}">
{% endblock %}

{% block content %}
<div class="content-create">
    <div class="form-container">
        <h2> Подтвердите удаление рассылки </h2>
        <p> Вы уверены, что хотите удалить рассылку "{{ object.name }}"? </p>

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit">Удалить рассылку</button>
        </form>
        <a href="{% url 'customers:mailing_list' %}">Вернуться к списку рассылок</a>
    </div>
</div>
{% endblock %}